node_modules
.DS_Store
/.cache
/build
.env
*.json
/generated/prisma
/data
.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
.terraformrc
terraform.rc
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfplan
.envrc
crash.log
crash.*.log
*.pem
*.key
*.pub